#divBtnEdicao {
    margin-left: 60%;
    width: 30%;
}

#edicaoTopico {
    display: grid;
}

#edicaoBtn {
    width: 40%;
}

#edicaoCancelaBtn {
    width: 45%;
    background-color: rgb(70,48,107);
}

#nomeTopico {
    margin-top: 10px;
    background-color: rgba(70, 48, 107, 0.578);
    color: white;
    resize: none;
    border-radius: 13px;
    font-weight: bold;
    font-size: 2rem;
}

#conteudoTopico {
    background-color: rgba(37, 25, 60, 0.459);
    color: white;
    border-radius: 13px;
    resize: none;
    min-height: 65.4vh;
}