/*Página Linguagens*/
.cardsAreaLinguagens {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;;
}

.cardsLinguagens {
    height: 300px;
    border-radius: 20px;
    border: solid;
    border-color: white;
    border-width: 2px;
}

@media screen and (max-width: 768px) {
    .cardsAreaLinguagens{
        padding-top: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .cardsLinguagens{
        height: 180px;
    }
}

@media screen and (max-width: 640px) {
    .cardsLinguagens{
        height: 150px;
    }
}

@media screen and (max-width: 520px) {
    .cardsAreaLinguagens{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px; 
    }
    .cardsLinguagens{
        height: 180px;
    }
}

@media screen and (max-width: 450px){
    .cardsAreaLinguagens{
        padding: 20px;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .cardsLinguagens{
        height: 170px;
    }
}

@media screen and (max-width: 370px) {
    .cardsAreaLinguagens{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .cardsLinguagens{
        height: 220px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .cardsAreaLinguagens{
        padding-top: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .cardsLinguagens{
        height: 200px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .cardsLinguagens {
        height: 200px;
    }
}

